html {
  height: 1000px;
  background: linear-gradient(45deg, red, blue 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: Palatino, Comic Sans MS;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}